<!--Heredando de la plantilla base.html-->
{% extends "ProyectoWebApp/base.html" %}

<!--Cargando la carpeta static-->
{% load static %}

<!--Abriendo el bloque de contenido-->
{% block content %}
    
    <div class="row">

        {% for producto in productos %}

            <div class="card" style="width: 10%;">
                
                <img src="{{producto.imagen.url}}" alt="">

                <div class="card-body">
                    <h7 class="card-title">{{producto.nombre}}</h7>
                    <p class="card-text">{{producto.precio}}</p>
                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}