{% extends 'cuentas/base.html' %}

{% block title %} Dinerosss {% endblock %}

{% block content %}

<div class="row">

    <div class="col l5 s12 offset-l1">
        <table id=transactionTable> <!--class='responsive-table'-->
            <caption><h6>CAMINO A LA RIQUEZA</h6></caption>
            <thead>
                <tr>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Categoría
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Fecha
                    </th>
                </tr>
            </thead>

            <tbody>

                {% for transaccion in transacciones %}
                    <tr>
                        <td>
                            <u><a href="{% url 'detalles' transaccion.id %}" style="color: black;">{{transaccion.tipo}}</a></u>
                        </td>
                        <td>
                            {{transaccion.cantidad}}
                        </td>
                        <td>
                            {% for categoria in transaccion.categoria.all %}
                                {{categoria}}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{transaccion.descripcion}}
                        </td>
                        <td>
                            {{transaccion.created}}
                        </td>
                    </tr>
                {% endfor %}
            
            </tbody>
        </table>            
    </div>

    <div class="col l4 s12">
        <div class="col s10 offset-s2">
            
            <form method="POST" id="transactionForm">{% csrf_token %}

                <div class="formField">
                    <p>
                        <span id="tipo">{{form.tipo.label}}:</span>

                        {% for radio in form.tipo %}
                            <label for="{{radio.id_for_label}}" id="ingreso">
                                {{radio.tag}}
                            <span class="radio">{{radio.choice_label}}</span>
                            </label>
                        {% endfor %}

                    </p>
                </div>

                <div class="input-field">
                    <label for="transactionAmount">Monto</label>
                    {{form.cantidad}}
                </div>

                <div class="formField">

                    <span>Categoría</span>
                    
                
                    <select multiple required size='5' style="height:100%"
                    name="categoria" id="id_categoria" class="browser-default">

                        {% for categoria in form.categoria %}
                            {{categoria.tag}}
                        {% endfor %}

                    </select>
                </div>

                <div class="input-field">
                    <label id="labelDescription" for="transactionalDescription">Descripción</label>
                    {{form.descripcion}}
                </div>

                <div class="post" id="divBoton">
                    <!-- <button onclick="location.href='{% url "seguimiento" %}"\ -->
                    <button
                    class="btn waves-effect waves-light" id="botoAgregar" type="submit">Agregar
                        <i class="material-icons right">monetization_on</i>
                    </button>
                </div>

            </form>

            <div id='totalLabel'>
                <label style="font-size: 20px; color: black;" for="">TOTAL:</label>
                <label style="font-size: 20px; color: black; padding-left: 10px;" for="">{{saldo.saldo}}</label> <br>
            </div>

        </div>
    </div>

</div>

{% endblock %}