{% extends 'cuentas/base.html' %}

{% block title %} Dinerosss {% endblock %}

{% block content %}

<div class="row">

    <div class="col l5 s12 offset-l1">
        <table id=transactionTable> <!--class='responsive-table'-->
            <caption><h6>CAMINO A LA RIQUEZA</h6></caption>
            <thead>
                <tr>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Categoría
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Fecha
                    </th>
                </tr>
            </thead>

            <tbody>

                {% for transaccion in transacciones %}
                    <tr>
                        <td>
                            <u><a href="{% url 'detalles' transaccion.id %}" style="color: black;">{{transaccion.tipo}}</a></u>
                        </td>
                        <td>
                            {{transaccion.cantidad}}
                        </td>
                        <td>
                            {% for categoria in transaccion.categoria.all %}
                                {{categoria}}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{transaccion.descripcion}}
                        </td>
                        <td>
                            {{transaccion.created}}
                        </td>
                    </tr>
                {% endfor %}
            
            </tbody>
        </table>            
    </div>
    

    <div class="col l4 s12">
        <div class="col s10 offset-s2">
            
            <form action="">{% csrf_token %}

                <div class="formField">
                    <p>
                        <span id="tipo">Tipo:</span>

                        {% for radio in form.tipo %}
                            <label id='ingreso'>
                                <input type="radio" class="with-gap" name="TransactionType" checked />
                                <span>{{radio}}</span>
                            </label>
                        {% endfor %}

                    </p>
                </div>

                <div class="input-field">
                    <label for="transactionAmount">Monto</label>
                    {{form.cantidad}}
                </div>

                <div class="formField">
                    <label for="">Categoría</label>
                    {{form.categoria}}
                </div>

            </form>




            <form id="transactionForm">{% csrf_token %}

                <div class="formField">
                    <p>
                        <span id="tipo">Tipo:</span>
                        <label id='ingreso'>
                            <input type="radio" value="Ingreso" class="with-gap" name="TransactionType" checked />
                            <span>Ingreso</span>
                        </label>
                        <label>
                            <input type="radio" value="Egreso" class="with-gap" name="TransactionType" checked />
                            <span>Egreso</span>
                        </label>                        
                    </p>
                </div>

                <div class="input-field">
                    <label for="transactionAmount">Monto</label>
                    <input required min="0" type="number" class="validate" name="TransactionAmount" id="TransactionAmount">
                </div>

                <div class="formField">
                    <label>Categoría</label>
                    <select name="transactionCategory" id="transactionCategory" class="browser-default">
                        <option value="Seleccionar" disabled selected>Seleccionar...</option>
                    </select>
                </div>

                <div class="input-field">
                    <label for="transactionalDescription">Descripción</label>
                    <input type="text" name="transactionDescription" id="transactionDescription" class="validate">
                </div>

                <div class="formField" id="divBoton">
                    <button class="btn waves-effect waves-light" id="botoAgregar" type="submit">Agregar
                        <i class="material-icons right">monetization_on</i>
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}